<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>>
    </ion-buttons>    
    <ion-title>{{habilidad.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{habilidad.Nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content color="success">
      {{habilidad.Descripcion}}.
    </ion-card-content>
  </ion-card>
</ion-content>
