<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>>
    </ion-buttons>    
    <ion-title>{{habilidad.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{habilidad.Nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{habilidad.Nombre}}
      </ion-card-title>
      <ion-card-subtitle>
        {{habilidad.ID}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="success">
      {{habilidad.Descripcion}}.
      <ion-chip>
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Esto es una prueba: {{habilidad.Nombre}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <!-- Un boton de compartir FAB (Floating Action Button) -->
   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>      
      <ion-fab-list side="start">
        <ion-fab-button (click)="openSocial('facebook')">
          <ion-icon name="logo-facebook">jajajaja</ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('twitter')">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('instagram')">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('whatsapp')">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>   
      </ion-fab-list>
   </ion-fab>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="presentActionSheet()">Opciones</ion-button>
  <!-- <ion-button (click)="favServicio.add(habilidad.ID); esFavorito=true;"
  *ngIf="!esFavorito" expand="block">Agregar a Destacadas</ion-button>
  <ion-button (click)="favServicio.remove(habilidad.ID); esFavorito=false;"
  *ngIf="esFavorito"
  expand="block">Quitar de Destacadas</ion-button> -->
</ion-footer>
