<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Destacado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Destacado</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ng-container *ngFor="let habilidad of habServicio.habilidades">
      <ion-item *ngIf="favServicio.favIDs.includes(habilidad.ID)" [routerLink]="'/detalles/'+habilidad.ID" routerDirection="forward">
        {{ habilidad.Nombre }}
      </ion-item>
    </ng-container>
    <ion-item *ngIf="favServicio.favIDs?.length==0">
      ¡No has elegido ninguna habilidad destacada!      
    </ion-item>
  </ion-list>
</ion-content>
