<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Inteligencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inteligencias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let inteligencia of inteligencias" [routerLink]="['/detalles', inteligencia]" routerDirection="forward">{{inteligencia.Nombre}}</ion-item>
    </ion-list>
  </ion-content>  
</ion-content>
