<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Inteligencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inteligencias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Esta lista se genera con el array inteligencias incrustado en la definicion de la clase
    <ion-list>
      <ion-item *ngFor="let inteligencia of inteligencias" [routerLink]="['/detalles', inteligencia]" routerDirection="forward">{{inteligencia.Nombre}}</ion-item>
    </ion-list> -->
    <!-- Esta lista se genera accediendo a los datos generados por el servicio -->
    <!-- <ion-list>
      <ion-item *ngFor="let inteligencia of intServicio.inteligencias" [routerlink]="['/lista']" routerDirection="forward">
        {{inteligencia.Nombre}}
      </ion-item>
    </ion-list> -->
    <ion-list>
      <ion-item *ngFor="let inteligencia of intServicio.inteligencias" [routerLink]="['/lista',{Categoria: 'Inteligencia', Criterio: inteligencia.ID, Nombre: inteligencia.Nombre}]" routerDirection="forward">
        {{inteligencia.Nombre}}
      </ion-item>
    </ion-list>
  </ion-content>  
</ion-content>
